<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/vendors/jquery.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/scripts/visitclient.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/vendors/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/stylesheet.css">
  <meta charset="utf-8">
  <title>Pet Visits</title>
</head>
<body>
  <div class="container">
    <h1>Pet Visits Database</h1>
    <table class="table">
      <thead>
        <th>Owner</th>
        <th>Pet</th>
        <th>Check-in</th>
        <th>Check-out</th>
      </thead>
      <tbody class="visits">

      </tbody>
    </table>
  </div>
  <a href= "/">Main Page</a>

</body>
</html>
